/* top nav bar height: 70px */

a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: inherit;
	font-weight: inherit;
	color: inherit;
}

html {
	scroll-behavior: smooth;

}

body {
    margin: 0; 
     padding: 0;
}

.outer-container {
	background: #cde1ff;
	width: 100vw;
	height: 100vh;
	display: flex;
	margin-left: 0;
}

.homepage-outer-container {
	width: 100vw;
	background: #FFEBCD;
	display: flex;
	height: 100vh;
}

.container {
	display: flex;
	font-family: rockwell;
	flex-direction: column;
	padding: 10px;
}

.inner-container {
	display: flex;
	flex-direction: row;
}

.essays {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	line-height: 1.5;
	background: #FFEBCD;
	padding: 10px 10px;
	margin-left: 100px;
}

.cartoons-container {
	background: #cde1ff;
	width: 100vw;
	display: flex;
	flex-direction: column;
	font-family: rockwell;
	font-size: 16px;
	line-height: 1.5;
}

.full-height {
	height: 100vh;
}

.top-navbar {
	position: fixed;
	display: flex;
	width: 100vw;
	background: #cde1ff;
	flex-direction: row;
	justify-content: space-between;
	height: 70px;
}

.navbar {
	position: fixed;
	display: flex;
	flex-direction: column;
	max-width: 90px;
	margin-top: 70px;
}

.nav-button {
	height: 100px;
	width: 100%;
	align-content: center;
	align-self: auto;
	display: flex;
	align-items: center;
	text-indent: 5px;
	font-size: 18px;

}

.top-nav-button {
	height: 70px;
	width: 100px;
	align-content: center;
	align-self: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: rockwell;
	font-size: 20px;
	margin: 5px 20px;

}

.top-nav-button:hover {
	color: #F4A460;
}

.nav-button:hover {
	color: #F4A460;
}

.body-text {
	font-size: 16px;
	line-height: 1.5;
}

.title {
	font-weight: bold;
	font-size: 20px;
	line-height: 2;
}

p {
	margin-bottom: 10px;
}

.divider {
	height: .1px;
	border: .5px dotted silver;
	margin: 30px 0;
}

.top-margin {
	margin: 15px 0;
}

.source-link {
	color: black;
}

.source-link:hover {
	text-decoration: underline;
}

.comic-button {
	all: initial;
	display: flex;
	flex-direction: column;
}
.comic-button:hover {
	opacity: 50%;
}

.comic {
	margin: 10px auto;
	background: white;
	max-width: min(80vw, 1200px);
}

@media(max-width: 500px) {
	.comic {
	}
}

.comic-crop {
	margin: -40px 40px;
	background: white;
}

.homepage-container {
	display: flex;
	flex-direction: column;
	width: 100vw;
	align-items: center;
}

.homepage-links {
	padding: 70px 0;
	font-size: 20px;
}

.homepage-links:hover {
	color: #F4A460;
}

.buttons-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 30px 10px;
}

.nav-link {
	margin: 0 40px;
	font-size: 20px;
}

.nav-link:hover {
	color: #F4A460;
}

.centered-container {
	display: flex;
	justify-content: center;
}

.italic {
	font-style: italic;
}

.vertically-centered {
	display: flex;
	justify-content: center;
}

.below-nav-bar {
	position: fixed;
	top: 70px;
	overflow: scroll;
	height: 100%
}

.extra-margin-bottom{
	margin-bottom: 80px;
}

@media(max-width: 600px) {
	.container {
		padding: 0;
	}
}